.blogpost_entry {
    color: #000000;
}
.blogpost_entry a {
    color: #000000;
}

/* navbar */
.navbar_link {
    color: #ff0000;
}

/* divider */
.hr {
    height: 1px;
    background-color: #000000;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
}

.header h1 {
    font-size: 300%;
}
.navbar a {
    color: #000000;
}
a {
    color: #000000;
    transition: background-color 0.8s, color 1s;
    -moz-transition: background-color 0.8s, color 1s;
    -webkit-transition: background-color 0.8s, color 1s;
    -o-transition: background-color 0.8s, color 1s;
}
a:hover {
    color: #ffffff;
    background-color: #000000;
}